.like-icon {
  display: none;
}

.one-cat {
  height: 220px;
  width: auto;
  background-color: rgb(255, 255, 255);
  margin: 0 20px 40px 20px;
  position: relative;
  .cat-img {
    width: auto;
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.one-cat:hover {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.883);
  height: 210px;
  z-index: 1;
  transition: 0.5s;
  transform: scale(1.3);
  cursor: pointer;
  display: flex;
  text-align: center;
  justify-content: center;
  .cat-img {
    width: auto;
    height: 80%;
    aspect-ratio: 1;
    object-fit: cover;
  }
  .like-icon {
    display: unset;
    position: absolute;
    bottom: 10px;
  }
}

.cats-container {
  margin-top: 120px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-bottom: 10px;
}
